port: 9090
logger-output-path: "path to log file"

oauthStateString: "thisshouldberandom"
facebook:
  clientID: "facebook client id"
  clentSecret: "facebook client secret"

linkedin:
  clientID: "linkedin client id"
  clentSecret: "linkedin client secret"